// Place all the styles related to the Picture controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
 	background: image-url("marianne.jpg") no-repeat center fixed; 
 }

 .navbar-header
 {
 	background: black;
 	color: white;
 	text-align:center;
 }

 .navbar-header a
 {
 	color:white;
 }

 div
 {
 	background:black;
 }

 body.pic
 {
 	background: image-url("marianne_2.jpg") no-repeat center fixed; 
 }